*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

#main-4{
    background:url("8f9f0fe373bcd5661b34a386870244a1.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main1 {
    background-image: url("cb81de78e19144e6a2c5dd4a73c04927.jpg");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#main2 {
    background-image: url("30e6a28b4c82cc6e8ca4ad12863c3ec5.jpg");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#main3 {
    background-image: url("809df6610271018e9fbcf5581cc19a6e.jpg");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#textprin1{
    margin-top: 500px;
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 100px;
    text-decoration: none;
}
#textprin{
    margin-top: 100px;
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 100px;

}
/*---------*/
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    color: white;
}
.col-lg-12:hover .image {
    opacity: 0.3;
    text-decoration: none;
    color: white;
}

.col-lg-12:hover .middle {
    opacity: 1;
    font-size: 20px;
    padding: 16px 32px;
}
#about{
    margin-top: 40px;
}
#about p{
    margin-top: 45px;
}
.row{
    margin-top: 50px;
}
a{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}