*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#main-1{
    background:url("2fb7b6ae6c02418c3cad6c4a2609554d.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-2{
     background:url("72ffd97747d2f1adbee8b9fea667c9bd.jpg")no-repeat center center ;
     display: table;
     height: 30%;
     position: relative;
     width: 100%;
     background-size: cover;

 }
#main-3{
    background:url("3885ea5382e32d8069256e4e651c4fb8.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-4{
    background:url("https://c1.staticflickr.com/5/4292/35168157604_22889c213c_b.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-5{
    background:url("http://online-music-news.com/wp-content/uploads/2017/05/2015-07-24_13-55-53_PW_DIM-MAK-MARNIK5.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-6{
    background:url("2ef726f94a897055c26b4b893991d668.jpg")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#textprin{
    margin-top: 100px;
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 100px;

}
#about{
    margin-top: 40px;
}


.d-block{
    margin-top: 20px;
}