*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
}
.container1{
    background:url("http://www.themediananny.nl/wp-content/uploads/2017/02/IMG_6146.jpg")no-repeat center center ;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;

}
.container2{
    background:url("https://pbs.twimg.com/media/CbqIb0NW4AAl9Ll.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container3{
    background:url("https://www.youredm.com/wp-content/uploads/2016/04/fest-96.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container4{
    background:url("https://www.youredm.com/wp-content/uploads/2017/03/dj-snake-at-ultra-via-twitter.png")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container5{
    background:url("https://i.ytimg.com/vi/q9gNvBJbmsg/maxresdefault.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container6{
    background:url("http://jetset.media/wp-content/uploads/2016/05/Steve-Angello-live-@-Ultra-Music-Festival-Miami-2014.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container7{
    background:url("https://www.youredm.com/wp-content/uploads/2018/07/marshmello-ultra-europe-2018-rukes.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container8{
    background:url("https://scontent.ccdn.cloud/thumb/allsongs/9392bc8f-f5c2-410f-a87f-5f8bfd6b1733/kygo-live-ultra-music-festival-japan-2016-1200x630.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container9{
    background:url("https://i.ytimg.com/vi/k604cIiA0-E/maxresdefault.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container10{
    background:url("https://www.edmsauce.com/wp-content/uploads/2015/04/Alesso-Coachella.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container11{
    background:url("http://edmchicago.com/wp-content/uploads/2017/04/jauz-og-1.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container12{
    background:url("https://7a91800c169e018419ce-13a11cf370b9f118d9564421463b8320.ssl.cf3.rackcdn.com/image/content/4240x2384/9d0259abeedc391b886d391719ce0731.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container13{
    background:url("http://blogs-images.forbes.com/ryanmac/files/2014/12/calvinharris2-e1418487863601.jpeg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container14{
    background:url("https://img.youtube.com/vi/fEC0OnhCzm8/maxresdefault.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container15{
    background:url("http://www.pierrehennequin.com/photos/david-guetta-21608956051.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container16{
    background:url("https://www.livetracklist.com/wp-content/uploads/2016/07/oliver-heldens-tomorrowland-belgium-2016-pic.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container17{
    background:url("https://i.ytimg.com/vi/doChiB1qcjI/maxresdefault.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container18{
    background:url("http://www.aftercluv.com/wp-content/uploads/bfi_thumb/Armin_van_Buuren_2014-m9wy85vv03ni74t89bq808rr1ikudd6cmuvxkvw3ws.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container19{
    background:url("https://weraveyou.com/wp-content/uploads/2017/08/Dimitri-Vegas-Like-Mike-Tomorrowland-1200x520.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container20{
    background:url("http://204ksp3os7r62w5qhokpkxci.wpengine.netdna-cdn.com/wp-content/uploads/2013/04/WW-ASOT-600.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container21{
    background:url("http://4i69u694r6bxq3zl-zippykid.netdna-ssl.com/wp-content/uploads/2016/05/12469516_10153466558044608_125180532486602713_o-1-2.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container22{
    background:url("http://images6.fanpop.com/image/photos/39500000/Skrillex-Live-In-Ultra-South-Africa-2016-skrillex-39527173-1280-853.jpg")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container23{
    background:url("https://d1amsjpw70k1w5.cloudfront.net/l6hfsc63q612/rNDF3K5ou4GqAAOiC6yKq/e29e7089e0eba8176ae9103ed7bf4a57/0005_rohhz-joey_5234.jpg?w=1024")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.container24{
    background:url("https://media.livenation.com/artists/45836/45836-show-93073.jpg?1374808321")no-repeat center center;
    display: table;
    height:52%;
    position: relative;
    width: 100%;
    background-size: cover;
}


.img{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
.img #special{
    filter: invert(100%);

}
.container{
    margin-top:2%;
}
iframe{
    margin-top: 5%;
}






