*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;

}
#main-1{
    background:url("https://www.metropoliabierta.com/uploads/s1/31/43/69/captura-de-pantalla-2018-07-28-a-las-9-45-08_9_1200x480.png")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#main-2{
    background-image: url("4e0c0c6f80a10bfe2db70ac345feab88.jpg") ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-3{
    background-image: url("483eb3b8bba8e416652be34b35bf220f.jpg") ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}
#main-4{
    background-image: url("b1265781bb5cec0b69e8ec6b7d2a4450.jpg") ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;

}


#textprin{
    margin-top: 100px;
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 100px;

}

#artistmain{
    margin-top: 50px;

}
.table,p{
    margin-top: 60px;

}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: gray;
}
.rowimage{
    max-width:50%;
    max-height:50px;
}
.rowimage:hover{
    opacity: 1;

}
 #special,.special{
    filter: invert(100%);
}
