*{
    margin: 0;
    padding: 0;
}
html,body{
     height: 100%;
 }
body{
    background-image: url("https://media.resources.festicket.com/image/2726x1554/smart/filters:quality(70)/www/photos/Tomorrowland_V3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: right top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 600px;
    margin: 0 auto;
    text-align: center;


}
a{
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 100px;
    text-decoration: none;
}
a:hover{
    color: gray;
    text-decoration: none;

}
p{
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;

}



