*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

#main{
    background:url("http://www.sompaisoscatalans.cat/simage/11/110615/tomorrowland-wallpaper.jpg")no-repeat center center ;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#textprin{
    margin-top: 500px;
    color: white;
    font-family:"Luna";
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom:-2px;
    font-size: 50px;
    text-decoration: none;
}
.jumbotron {
    background: url("https://www.lollapalooza.com/wp-www-lollapalooza-com/wp/wp-content/uploads/2018/08/lollaty_web_gifv2-bba5f04b.gif") no-repeat center center;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
#second{
    color: white;
}
.container {
    padding: 100px 120px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    color: white;
}

.col-sm-4:hover .image {
    opacity: 0.3;
    text-decoration: none;
    color: white;
}

.col-sm-4:hover .middle {
    opacity: 1;
    font-size: 20px;
    padding: 16px 32px;
}
a{

    color: black;
    text-decoration: none;
}
a:hover{
    color: gray;
    text-decoration: none;

}
#copyright{
    color: gray;
}


