*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
#main{
    background:url("https://www.metropoliabierta.com/uploads/s1/31/43/69/captura-de-pantalla-2018-07-28-a-las-9-45-08_9_1200x480.png")no-repeat center center ;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;
}
table {
    width: 50%;
    height: 300px;
}
#artistmain{
    margin-top: 50px;

}
.table,p{
    margin-top: 60px;

}
.container33{
    background:url("https://i.pinimg.com/originals/a2/9e/b3/a29eb3a005e2fb26583754a41ef6fa56.gif")no-repeat center center ;
    display: table;
    height: 20%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin-top: 80px;
}